
# binaries
SDSL_15_32_OP
SDSL_31_32_OP
SDSL_63_32_OP
H0R_64_32_OP
H0I_63_32_OP
H0I_64_32_OP
SDSL_15_32
SDSL_31_32
SDSL_63_32
H0R_64_32
H0I_63_32
H0I_64_32
RRR_15_32
H0GAP_15_32
H0GAP_24_32
H0WDBS_15_32
H0WDBS_24_32
wdb_poke
sdsl_comp
poke
binoms
build/

#debuggin stuff
vgcore*
poke.cpp
Theory.ipynb
deb.txt
wdbs.ipynb

# env
.ipynb_checkpoints/
.vscode/
__pycache__/

# generated headers
wdbs*.hpp

# results
res/
*.pdf